[submodule "rules/terraform/terraform-best-practices"]
	path = rules/terraform/terraform-best-practices
	url = https://github.com/antonbabenko/terraform-best-practices
[submodule "skills/faststream/modules"]
	path = skills/faststream/modules
	url = https://github.com/ag2ai/faststream
[submodule "skills/Automatiq/modules"]
	path = skills/Automatiq/modules
	url = https://github.com/stonesteel27/Automatiq/
[submodule "skills/camoufox/modules"]
	path = skills/camoufox/modules
	url = https://github.com/daijro/camoufox
[submodule "skills/CloakBrowser/modules"]
	path = skills/CloakBrowser/modules
	url = https://github.com/CloakHQ/CloakBrowser
[submodule "skills/plasmo/modules"]
	path = skills/plasmo/modules
	url = https://github.com/PlasmoHQ/plasmo
[submodule "skills/plasmo/examples"]
	path = skills/plasmo/examples
	url = https://github.com/PlasmoHQ/examples
[submodule "skills/plasmo/docs"]
	path = skills/plasmo/docs
	url = https://github.com/PlasmoHQ/docs
[submodule "skills/frappe-ui/modules"]
	path = skills/frappe-ui/modules
	url = https://github.com/frappe/frappe-ui
[submodule "skills/hatchet/modules"]
	path = skills/hatchet/modules
	url = https://github.com/hatchet-dev/hatchet
