[submodule "rules/terraform/terraform-best-practices"]
	path = rules/terraform/terraform-best-practices
	url = https://github.com/antonbabenko/terraform-best-practices
[submodule "skills/faststream/modules"]
	path = skills/faststream/modules
	url = https://github.com/ag2ai/faststream
[submodule "skills/Automatiq/modules"]
	path = skills/Automatiq/modules
	url = https://github.com/stonesteel27/Automatiq/
[submodule "skills/camoufox/modules"]
	path = skills/camoufox/modules
	url = https://github.com/daijro/camoufox
[submodule "skills/CloakBrowser/modules"]
	path = skills/CloakBrowser/modules
	url = https://github.com/CloakHQ/CloakBrowser
